@import '~antd/dist/antd.less';

.site-wrapper {
  border: black 8px solid;

  // #b64082;
  //  #4367b0;
}
.site-layout-content {
  min-height: 85vh;
  margin: 2vw;
  padding: 24px;
  background: #b64040;
  border: black 8px solid;
  font-family: "Comic Sans MS", "Comic Sans";
  // #b64082;
  //  #4367b0;
}


.logo {
  float: left;
  display: inline;
  background-color: red;
  display: inline;
  border-right: "10px";
}

.footer {
  background-color: black;
  text-align: center;
  color: gray;
}

.ant-layout-header {
  background-color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #40B6B6;
}

.card {
  background-color: rgb(237, 237, 237);
  border: black 4px solid;
}
.card:hover{
  background-color: white;
  box-shadow: 10px 10px;
  border: black 4px solid;
}

.tag {
  border: black 2px solid;
  font-weight: bold;
}

.searchBar {
  border: black 5px solid;
  box-shadow: 0px 0px;
}

.searchBar:hover {
  border: #308352 5px solid;
  box-shadow: 10px 10px;
}

.searchBarFocused {
  border:#40B6B6 5px solid;
  box-shadow: 15px 15px;

}

// .searchBar {
//   border-width: "5px";
// }




