@import '~antd/dist/antd.less';


.site-wrapper {
  border: black 8px solid;
  background-color: rgb(225, 225, 225);
  // #b64082;
  //  #4367b0;
}

.site-layout-content {
  min-height: 80vh;
  margin: 2vw;
  padding: 24px;
  background: #b64040;
  border: black 8px solid;
  font-family: "Comic Sans MS", "Comic Sans";
  // #b64082;
  //  #4367b0;
}

.pageTopper {
  margin: 2vw;
  margin-bottom: 0;
  padding: 24px;
  background: rgb(229, 229, 0);
  border: black 8px solid;
  font-family: "Comic Sans MS", "Comic Sans";
}

.logo {
  float: left;
  display: inline;
  background-color: red;
  display: inline;
  border-right: "10px";
}

.footer {
  background-color: black;
  text-align: center;
  color: gray;
}

.ant-layout-header {
  background-color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #40B6B6;
}

.card {
  background-color: rgb(237, 237, 237);
  border: black 8px solid;
}
.card:hover{
  background-color: white;
  box-shadow: 10px 10px;
  border: black 8px solid;
  border-top: #40B6B6 8px solid;;
}

.tag {
  border: black 2px solid;
  font-weight: bold;
}

.searchBar {
  border: black 5px solid;
  box-shadow: 0px 0px;
}

.transition{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

.searchBar:hover {
  border: #308352 5px solid;
  box-shadow: 10px 10px;
}

.searchBarFocused {
  border:#40B6B6 5px solid;
  box-shadow: 15px 15px;

}

.ant-input-wrapper {
  width: 100.2%
}

// .searchBar {
//   border-width: "5px";
// }




